@import "./partials/variables";

body {
  background-color: $body;
}

.cards {
  width: 50%;
  text-align: center;
  margin: auto;
  border: 2px solid rgba(255, 162, 0, 0.817);
  margin-bottom: 40px;
}
